body {
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    background-color: #007bff;
}

header .nav-link {
    color: white;
    font-weight: 600;
}

.custom-card {
    width: 100%;
    max-width: 800px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Formulário */
#formulario-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Dica do Dia */
#dica-do-dia {
    text-align: center;
}

#texto-dica {
    font-size: 1.2rem;
}

/* Favoritos */
#favoritos-container .card {
    width: 18rem;
    border: 1px solid #ddd;
    transition: 0.3s;
}

#favoritos-container .card:hover {
    transform: scale(1.05);
    border-color: #007bff;
}

#google_translate_element {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
}

/* Rodapé */
footer {
    background-color: #212529;
}